<!DOCTYPE html>
<html>
  <head>
    <title>Ludicrous</title>
    <meta property='og:title' content='Ludicrous'/>
    <meta property='og:image' content='//media.example.com/ 1234567.jpg'/>
    <meta property='og:description' content='Full-stack single-page Genius clone built using Ruby on Rails, Redux, React, and PostgreSQL'/>
    <meta property='og:url' content='//ludicrous.herokuapp.com/' />
    <%= favicon_link_tag asset_path('favicon-32x32.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/204f8c496b.js" crossorigin="anonymous"></script>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %>
      </script>
    <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
